
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
 blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* Basic tag styling */
b {
	font-weight: 800;
}
header {
	width: 100%;
}
h1 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin: 20px 0px;
}
h2 {
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	margin: 20px 0px;
}
h3 {
	text-align: center;
}
p {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}
a {
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
header img {
	width: 100%;
}
.landingPageMainSectionSubb {
	display: flex;
	flex-wrap: wrap;
	width: 904px;
	margin: 40px auto;
}
.cukLandingButtons {
	width:300px;
	margin-bottom: 2px;
	cursor: pointer;  
}
.marLeft {
	margin-left: 6px;
}
.midButtonDivs {
	margin: 0px auto 2px auto;
}
.cukMainTeam {
	display: flex;
	flex-wrap: wrap;
	width: 612px;
	margin: 40px auto;
}
.teamMembers {
	width: 140px;
}
.marLeftTeamMember {
	margin-left:17px; 
}
.imgTeam {
	width: 100px;
	height: 140px;
	background-color:#d6d6d6;
	margin-left: 6px; 
}
.teamMembers p {
	text-align: left;
	margin: 10px 0px;
	width: 100%;
}
.mainContact {
	width: 100%;
	background-color: #000;
}
.mainContact p {
	color: #fff;
}
.mainContact h1 {
	color: #fff;
	margin-top: -10px;
}
.colWhite {
	color: #fff;
}
.backColWhite {
	background-color: #fff;
}
.backColDarkGray {
	background-color: #393b39;
}
.landingPageMainSectionSubb h4 {
	margin: 6px auto;
	width: 80%;
	text-align: center;
}
.landingPageMainSectionSubb .cukLandingButtons .buttonLanding2 {
	margin: 40px auto;
}
.cukLandingButtons .imgsForButtons {
	width: 160px;
	margin: 10px auto 0px auto; 
}
.buttonLanding3 {
	width: 142px;
	margin: 10px auto 0px auto;
}
.buttonLanding3 img{
	width: 100%;
}
.buttonLanding4 {
	width: 160px;
	margin: 28px auto 26px auto;
}
.buttonLanding4 img{
	width: 100%;
}
.buttonLanding5 {
	width: 160px;
	margin: 46px auto 44px auto;
}
.buttonLanding5 img{
	width: 100%;
}
.cukLandingButtons .imgsForButtons img{
	width: 100%;
}
.buttonLanding6 {
	width: 160px;
	margin: 8px auto 12px auto;
}
.buttonLanding6 img{
	width: 100%;
}
.cukLandingButtons .imgsForButtons img{
	width: 100%;
}
.verticaliyAlignMid {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.arrowImg {
	width:16px;
	margin: 0px 20px; 
}
.arrowImg img {
	width:100%; 
}
.arrowImgBlack {
	width:16px;
	margin: 0px 20px;
}
.arrowImgBlack img {
	width:100%; 
}
.landingPageMainSectionSubb .textButtonsH4 {
	margin: 0px auto;
}
.moreButtons {
	background-color: transparent;
	border: 2px solid #fff;
	padding: 0px 8px;
	margin: 10px 20px;
	cursor: pointer;
}
.shadowBrokenImg1 {
	width: 100%;
}
.shadowBrokenImg1 img {
	width: 100%;
}
.shadowBrokenImg2 {
	width: 100%;
}
.shadowBrokenImg2 img {
	width: 100%;
}
#cuk_about_us_team {
	padding-bottom: 20px;
}
#cuk_main_wrapper_social_icons {
	padding: 20px 0px;
}
.socialIconsFooter {
	width: 60px;
}
.socialIconsFooter img {
	width: 100%;
}
.sIcon3 {
	margin-bottom: -10px;
}
.textButtonsH3 {
	margin: 0px auto;
}
.webCalcSlider {
	width: 50%;
	margin: 50px auto 30px auto;
}
#cuk_web_calculators_page .shadowBrokenImg1 {
	margin-bottom: -60px;
}
.arrowDownISFL {
	width: 30px;
	margin: 50px auto 30px auto;
}
.arrowDownISFL img {
	width: 100%;
}
#cuk_isfl_page .shadowBrokenImg1 {
	margin-bottom: -80px;
}
#cuk_saas_page .shadowBrokenImg1 {
	margin-bottom: -80px;
}